#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [4]:
import pymysql
from sqlalchemy import create_engine
# from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'pymysql'

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [6]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/PremierLeague')


# relational.fit.cvut.cz

# Open your favourite MariaDB client (MySQL Workbench works, but see FAQ)
# Use following credentials:
# hostname: relational.fit.cvut.cz
# port: 3306
# username: guest
# password: relational
# Export "PremierLeague" database (or other version of the dataset, if available) in your favourite format (e.g. CSV or SQL dump).

NameError: name 'create_engine' is not defined

#### 4. Import the users table

In [ ]:
data = pd.read_sql_query('SELECT * FROM PremierLeague.users', engine)

#### 5. Rename Id column to userId

#### 6. Import the posts table.

#### 7. Rename Id column to postId and OwnerUserId to userId

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 9. How many missing values do you have in your merged dataframe? On which columns?

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.